body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
 
}

h1 {
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', sans-serif;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E
}
a {
    color: #11999E;
}
.top-container {
    padding-top: 100px;
    background-color: #E4F9F5;
    position: relative;
}

.middle-container {

}

.bottom-container 
{

}

.pro {
    text-decoration: underline;
    font-weight: normal;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.profile-photo {
    border-radius: 100%;
    height: 15%;
    width: 15%;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.skills-img {
    height: 25%;
    width: 25%;
    
}

.coding-img {
    margin-right: 30px;
    float: left;
}

.communication-img {
    margin-left: 30px;
    float: right;
}
